MAIN_VITE_OPENROUTER_API_KEY=
MAIN_VITE_DB_ENGINE=mysql
MAIN_VITE_DB_HOST=localhost
MAIN_VITE_DB_PORT=3306
MAIN_VITE_DB_USER=
MAIN_VITE_DB_PASSWORD=
MAIN_VITE_DB_NAME=
MAIN_VITE_API_ALLOW=
MAIN_VITE_API_TOKEN=
